.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

.title-addfriends{
  margin-bottom: 15px;
  margin-top: 35px;
  color: #10275A;
  text-align: left;
  margin-left: 15px;
  text-align: center;
}

.add-friend-img{
  width: 90%
}

.add-group-new-btn {
  width: 70%;
  height: 55px;
  margin: 10px;
  font-size: 18px;
  color: #FEFFFF;
  background: #5B67CA;
  box-shadow: -3px 7px 13px #f1f7ff;
  border-radius: 14px;
  position: relative;
  bottom: -50px
}
