.container-new {
  min-height: 100vh;
}

.habits-show-page {
  margin-right: 10px;
  margin-left: 10px;
}

.journey {
  font-size: 13px;
}
// .intention {
//   margin-right: 10px;
//   margin-left: 10px;
// }

.marg {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}
