.form-title {
  font-size: 18px;
  color: #10275A;
  margin-bottom: 10px;
}
.make-sure {
  font-size: 15px;
}

.habits-new {
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  color: #8A8BB3;
  border-radius: 5px;
  border-style: none;
  display: inline-block;
}

.habit-new-title {
  margin: 20px;
  margin-top: 40px;
}

.form-input {
  font-size: 16px;
  color: #10275A;
}

.habits-new-btn {
  width: 327px;
  height: 56px;
  margin: 10px;
  font-size: 18px;
  color: #FEFFFF;
  background: #5B67CA;
  box-shadow: -3px 7px 13px #F1F7FF;
  border-radius: 14px;
}
