.container-new {
  min-height: 100vh;
}

.habits-show-page {
  margin-right: 10px;
  margin-left: 10px;
}

.journey {
  font-size: 13px;
  margin-bottom: 30px;
}
// .intention {
//   margin-right: 10px;
//   margin-left: 10px;
// }
.habit-show-master-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.master-tag {
  background: #ffc65a;
  color: #e67e22;
  border-radius: 22px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.habit-show-top {
  font-size: 18px;
  color: #10275a;
}

.habit-box {
  text-align: left;
  margin-bottom: 16px;
}

.habit-show-title {
  font-size: 20px;
  color: #10275a;
}

.habit-show-des {
  font-size: 14px;
  color: #2e426e;
  text-align: left;
  margin: 15px 0;
}

.habit-show-box {
  display: flex;
  margin: 10px 0px;
  column-gap: 20px;
  justify-content: space-between;
}

.habit-show-box-time {
  & > p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
  }
  width: 100%;
  position: relative;
  background: linear-gradient(
    257.66deg,
    rgba(254, 157, 157, 0.68),
    #e77d7d 113.59%
  );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 14px;
  font-size: 14px;
  color: white;
  text-align: left;
  padding: 15px 20px;
}

.marg {
  & > li {
    list-style: none;
    font-size: 16px;
    color: #2e426e;
    line-height: 1.5;
  }
  .habit-show-list {
    text-align: left;
    font-size: 14px;
    color: #10275a;
    margin: 15px 0;
  }
  margin-left: 5px;
  margin-bottom: 15px;
  text-align: left;
}

form {
  & > hr {
    color: inherit;
    border: 0;
    border-top: 2px dashed;
    opacity: 0.25;
  }
}

.form-check{
  & > .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #1EDD88;
    text-decoration: line-through 1px solid red;
  }

  & > label {
    font-size: 14px;
    color: #2e426e
  }
}
