.habit-title {
  margin-bottom: 30px;
  margin-top: 50px;
}
.one-min {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom:75px;
  margin-left: 5px;
  margin-right: 5px;
  color: #5B67CA;
}

.running {
  margin: 50px;
  color: #5B67CA;
  font-size: 40px;
}

.nudge {
  font-size: 12px;
}

.down {
  position: fixed;
  bottom: 10px;
  padding: 20px;
  font-size: 12px;
}

.form-title {
  font-size: 18px;
  color: #10275A;
  margin-bottom: 10px;
}

.habits-new {
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  color: #8A8BB3;
}

.form-input {
  font-size: 16px;
  color: #10275A;
}

.habits-new-btn {
  width: 327px;
  height: 56px;
  margin: 10px;
  font-size: 18px;
  color: #FEFFFF;
  background: #5B67CA;
  box-shadow: -3px 7px 13px #F1F7FF;
  border-radius: 14px;
}
