.habit-index-title {
  margin: 100px;
}

.box {
  margin: 100px !important;
}

.seed-habits {
  margin-top: 30px;
}

.bottom {
  // margin-right: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  font-size: 13px;
  color: #3B3B3B;
}
