.habit-index-title {
  margin: 100px;
}

.habit-title {
  margin-bottom: 30px;
  margin-top: 1rem;
  text-align: center;
  color: #10275A;
  text-align: left;
  margin-left: 15px;
}

.card-border.text-center {
  border: none;
  background: rgba(127, 201, 231, 0.25);
  margin-bottom: 25px;
}

.box {
  margin: 100px !important;
}

.seed-habits {
  margin-top: 30px;
}

.bottom {
  // margin-right: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  font-size: 13px;
  color: #3B3B3B;
}

ul li {
  list-style: none;
}
