// Specific CSS for your home-page
body {
  height: 100vh;
  background-color: rgb(255, 255, 255);;
  justify-content: center;
  text-align: center;
}

#home-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #ccc;
  border:2px solid #fff;
  margin-bottom: 10px;
}

.home-container {
  margin-top: 20%;
}

.home-btn {
  background-color: #5B67CA;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 200;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin-top: 10px;
  border: 2px solid #ccc;
}

a {
  text-decoration: none;
}

.content-container{
  margin: 45px;
  p {
    font-weight: 200;
    margin-top: 10px;
    color: #4d4a49;
    text-shadow: 1px 1px 2px rgb(206, 205, 205);
  }
  h1 {
    color: #5B67CA;
    font-weight:900;
    font-size: 35px;
  }
}
.get-out {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 900;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgb(206, 205, 205)
}

.start-home {
  margin-top: 60px;
}
