.to-the-left{
  margin-right: 30px;
}

.notif-q {
  font-size: 20px;
}

.notification-container {
  margin: 50px;
}

.btn-colour {
  background-color: #5B67CA;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// .notif-bottom {
//   margin-top: 50px;
//   font-size: 40px;
// }
