// .flexbox-class {
//   display: flex;
//   justify-content: space-between;
//   // align-items: flex-end;
//   .form-group {
//     width: 100%;
//   }
//   .btn-primary {
//     margin-bottom: 16px
//   }
// }

.to-the-left{
  margin-right: 30px;
}

.notification-container {
  margin: 50px;
}

.btn-colour {
  background-color: #5B67CA;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
