<div class= "container">
  <h6>Add friends to your group!</h6>
  <%= simple_form_for [@group, @user_group] do |f| %>
    <%= f.association :user, label_method: :first_name, placeholder: "Select a Friend", value_method: :id %>
    <%= f.submit "Create"%>
  <% end %>
</div>
