<div class="notification-container">
    <h1 class="notif-q"> How many hours have you spent using social media today?</h1>
</div>
<%= simple_form_for(@notification) do |f| %>
  <div class="to-the-left">
    <%= f.input :answer, label: false, as: :radio_buttons, collection: [['<1hr', '1', { class: "button" }], ['<2hr', '2', { class: "button" }], ['<3hr', '3', { class: "button" }], ['<4hr', '4', { class: "button" }]] %>
  </div>
  <div class="notif-bottom">
    <%= f.button :submit, "Submit", :class => "btn-colour" %>
  </div>
<% end %>
