<div class="notification-container">
    <h1> Roughly how many hours have you spent on social media today?</h1>
</div>


<%#= simple_form_for(@notification) do |f| %>
<%#= f.input :answer, collection: 1..3, as: :text %>
<%#= f.submit "ok" %>
<%# end %>
<%#= simple_form_for(@notification) do |f| %>
  <%#= f.input :answer, label: false, wrapper_html: {class: "form-inline"} do %>
  <%# <div class="flexbox-class"> %>
    <%#= f.input_field :answer, collection: 1..3, label: false %>
    <%#= f.button :submit, "Sumbit", :class => "btn-info" %>
  <%# </div> %>
  <%# end %>
<%# end %>


<%= simple_form_for(@notification) do |f| %>
  <div class="to-the-left">
      <%= f.input :answer, label: false, as: :radio_buttons, collection: [['<1hr', '1', { class: "button" }], ['<2hr', '2', { class: "button" }], ['<3hr', '3', { class: "button" }], ['<4hr', '4', { class: "button" }]] %>
  </div>
  <%= f.button :submit, "Submit", :class => "btn-colour" %>
<% end %>
