<div class= "container create-groups">
  <h1 class = "title-addfriends">Create a new group</h1>
  <%= simple_form_for @group do |f| %>
    <%= f.input :name,
      label: false,
      input_html: { label: "name", placeholder: "Type your group name" } %>
    <%= f.input :habit_id, :collection => @habits %>
    <%= f.submit "Create", class: "btn milestone-new-btn"%>
  <% end %>
</div>
