<div class= "container create-groups">
  <h6>Create a new group</h6>
  <%= simple_form_for @group do |f| %>
    <%= f.input :name,
      input_html: { label: "name", placeholder: "Your group name" } %>
    <%= f.input :habit_id, :collection => @habits %>
    <%= f.submit "Create", class: "btn milestone-new-btn"%>
  <% end %>
</div>
