<div data-controller="menu">
  <ul class="menu d-none" data-menu-target="menuContent">
    <div class="list-menu">
      <li><a class="menuItem" href="#">Home</a></li>
      <li><a class="menuItem" href="#">Profile</a></li>
      <li><a class="menuItem" href="#">Milestones</a></li>
      <li><a class="menuItem" href="#">About</a></li>
    </div>
  </ul>

  <div class="menu-icon" data-action="click->menu#change">
    <%= image_tag "menu-icon.svg", id: "menu-icon" %>
  </div>
</div>
