<div class="nav-container">
  <div class="nav-content">
    <i class="gg-home-alt"></i>
    <i class="gg-performance"></i>
    <%= image_tag "plus_svg.svg", id: "svg-plus" %>
    <i class="gg-comment"></i>
    <i class="gg-folder"></i>
  </div>
</div>
