<div class="nav-container">
  <div class="nav-content">
    <i class="gg-home-alt"></i>
    <i class="gg-performance"></i>
    <i class="gg-add"></i>
    <i class="gg-comment"></i>
    <i class="gg-folder"></i>
  </div>
</div>
