<body>
  <div class="home-container">
    <img id="home-img" <%= image_tag "home_.jpg" %>
    <div class="content-container">
      <h1>Nudge</h1>
      <p>Plan what you will do to be more productive for today, tomorrow and beyond</p>
      <button class="home-btn">Get Started</button>
    </div>
  </div>
</body>
