<body>
  <div class="home-container">
    <%= image_tag "home_.jpg", {id: 'home-img'} %>
    <div class="content-container">
      <h1>Nudge</h1>
      <p>Plan what you will do to be more productive for today, tomorrow and beyond</p>
      <%= link_to "Get Started", habits_path, class: "home-btn"%>
    </div>
  </div>
</body>
