.nav-content {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  align-items: center;
  // margin-bottom: 2%;
  padding: 2%;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  z-index: 1000;
  .gg-add{
    color: white;
    background-color: #5B67CA;
    width: 50px;
    height: 50px;
  }
  i {
    color: #C6CEDD ;
  }
}

.padding-from-navbar {
  padding-bottom: 6rem;
}

.margin-from-navbar {
  margin-bottom: 6rem;
}

#svg-plus {
  height: 50px;
  width: 50px;
  fill: #5B67CA;
}
#bell {
  font-size: 22px
}

#bell-colour {
  color: #d21404;
  font-size: 22px;
}
