<div class="container">
  <div id="habitcard"class="d-flex flex-column"></div>
  </div> <%#class="display-flex align-center new-opportunities-container justify-space-between margin-b-24" %>
    <div class="row">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
