<div class=“container”>
  <div id=“habitcard”class=“d-flex flex-column”></div>
    </div> <%#class=“display-flex align-center new-opportunities-container justify-space-between margin-b-24" %>
      <h1>Habits</h1>
      <div class=‘box’>
        <img src="<%= image_path ‘no_habits.jpg’ %>” class=“d-block w-100" alt=“”>
      </div>
      <div class=“row”>
        <ul>
          <% if current_user.habits.length > 0 %>
            <% @habits.each do |habit| %>
            <li><%= habit.title %></li>
            <% end %>
          <% else %>
            <div class=“bottom”>
              <p> Looks like you don’t have any on-going habits</p>
              <p> Tap the plus button down below ꜜ to create a new habit</p>
            </div>
          <% end %>
        <ul>
        <%# <%= render “shared/searchbar” %>
      </div>
    </div>
  </div>
</div>
