<p> <%= "This habit starts on the #{@habit.start_date} and hopefully will be achieced by the #{@habit.end_date}" %>
<div class="container">
    <h3><%= @habit.title %></h3><br>
    <h6><%= @habit.description %></h6>
    <%# <li><%= @habit.milestone %>
</div>
